miWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="localhost/directorioWSDL/miWSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="miWSDL" targetNamespace="localhost/directorioWSDL/miWSDL/">
  <wsdl:types>
    <xsd:schema targetNamespace="localhost/directorioWSDL/miWSDL/">
      <xsd:element name="informacionActualServer">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="mensaje" type="xsd:string" />
          	<xsd:element name="mensaje1" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="informacionActualServerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="informacionActualServerRequest">
    <wsdl:part element="tns:informacionActualServer" name="mensaje"/>
  </wsdl:message>
  <wsdl:message name="informacionActualServerResponse">
    <wsdl:part element="tns:informacionActualServerResponse" name="out"/>
  </wsdl:message>
  <wsdl:portType name="miWSDL">
    <wsdl:operation name="informacionActualServer">
      <wsdl:input message="tns:informacionActualServerRequest"/>
      <wsdl:output message="tns:informacionActualServerResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="miWSDLSOAP" type="tns:miWSDL">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="informacionActualServer">
      <soap:operation soapAction="localhost/directorioWSDL/miWSDL/informacionActualServer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="miWSDL">
    <wsdl:port binding="tns:miWSDLSOAP" name="miWSDLSOAP">
      <soap:address location="http://localhost/serverSOAP.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
